@tailwind base;
@tailwind components;
@tailwind utilities;

/* TEMA */
:root {
  --bg-primary: theme("colors.gray.100");
  --bg-secondary: theme("colors.white");
  --text-primary: theme("colors.gray.900");
  --text-secondary: theme("colors.gray.700");
  --bg: [--header-bg] text-[--text-primary];
  --header-bg: theme("colors.gray.800");
  --card-bg: theme("colors.white");
  --card-text: theme("colors.gray.900");
  --button-primary: theme("colors.blue.600");
  --button-hover: theme("colors.blue.700");
  --accent: theme("colors.yellow.400");
  --border: theme("colors.gray.300");
}

.dark {
  --bg-primary: theme("colors.gray.900");
  --bg-secondary: theme("colors.gray.800");
  --text-primary: theme("colors.gray.100");
  --text-secondary: theme("colors.gray.300");
  --header-bg: theme("colors.gray.950");
  --card-bg: theme("colors.gray.800");
  --card-text: theme("colors.gray.100");
  --button-primary: theme("colors.blue.700");
  --button-hover: theme("colors.blue.800");
  --accent: theme("colors.blue.400");
  --border: theme("colors.gray.700");
}

body {
  @apply bg-[--bg-primary] text-[--text-primary];
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  /* color: #646cff; */
  text-decoration: inherit;
}
/* a:hover {
  color: #535bf2;
} */

body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /*  background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
}
/* button:hover {
  border-color: #646cff;
} */
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
 */
